<h2>Customers</h2> Filter:
        <input type="text" ng-model="customerFilter.name" />
        <br/>
        <br/>
        <table class="table table-condensed">
            <thead>
                <tr>
                <th  ng-click="doSort('name')"><b>Name</b></th>
                <th  ng-click="doSort('city')"><b>City</b></th>
                <th  ng-click="doSort('Order')"><b>Order Total</b></th>
                <th  ng-click="doSort('joined')"><b>Joined</b></th>
                <th>&nbsp;</th>
            </tr>
            
            </thead>
            <tbody>
                <tr ng-repeat="cust in customers |orderBy:sortBy:reverse | filter:customerFilter">
                <td>{{cust.name}}</td>
                <td>{{cust.city}}</td>
                <td>{{cust.Order | currency}}</td>
                <td>{{cust.joined | date}}</td>
                <td><a href="#/orders/{{cust.id}}">View Orders</a></td>
            </tr>

            </tbody>
            

            <tr></tr>
        </table>
        <br/>
        <span>Total customers: {{customers.length}}</span>